[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
app = "python3 -m flask --app app.app --debug run"

[packages]
authlib = "==1.2.1"
flask = "==3.0.2"
flask-cors = "==4.0.1"
flask-limiter = "==3.5.0"
govuk-frontend-jinja = "==3.0.0"
gunicorn = "==22.0.0"
sentry-sdk = "==1.39.2"
pandas = "==2.2.2"
plotly = "==5.23.0"

