{% extends "components/base.html" %}

{% block pageTitle %}
    Home
{% endblock %}

{% block content %}
  <h1 class="govuk-heading-xl">Find a GitHub Repository Owner</h1>

  <h2 class="govuk-heading-l">Repositories by Owners</h2>
  {{ pie_chart | safe }}

  <h3 class="govuk-heading-m">Filter Results</h3>

  <form method="get">
    <div class="moj-filter">
      <div class="moj-filter__header">
        <div class="moj-filter__header-title">
          <h2 class="govuk-heading-m">Filter</h2>
        </div>
        <div class="moj-filter__header-action">
        </div>
      </div>

      <div class="moj-filter__content">
        <div class="moj-filter__options">
          <button type="submit" class="govuk-button" data-module="govuk-button" data-test-id="submit-button">
            Apply filters
          </button>
          <div class="govuk-form-group">
            <label class="govuk-label govuk-label--m" for="repository-name">
              Repository Name
            </label>
            <input class="govuk-input" id="repository-name" name="repository-name" type="text" value="{{ repository_name }}">
          </div>
          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                Owner
              </legend>
              <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type" name="owner" type="checkbox" value="STUBBED_PLATFORMS_AND_ARCHITECTURES" {% if "STUBBED_PLATFORMS_AND_ARCHITECTURES" in owners %} checked {% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="type">
                    STUBBED_PLATFORMS_AND_ARCHITECTURES
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-2" name="owner" type="checkbox" value="STUBBED_HMPPS" {% if "STUBBED_HMPPS" in owners %} checked {% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="type-2">
                    STUBBED_HMPPS
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-3" name="owner" type="checkbox" value="STUBBED_OPG" {% if "STUBBED_OPG" in owners %} checked {% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="type-3">
                    STUBBED_OPG
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-4" name="owner" type="checkbox" value="STUBBED_LAA" {% if "STUBBED_LAA" in owners %} checked {% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="type-4">
                    STUBBED_LAA
                  </label>
                </div>
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="type-5" name="owner" type="checkbox" value="NO_OWNER" {% if "NO_OWNER" in owners %} checked {% endif %}>
                  <label class="govuk-label govuk-checkboxes__label" for="type-5">
                    No Owner
                  </label>
                </div>
              </div>
            </fieldset>
          </div>
        </div>
      </div>
    </div>
  </form>

  <table class="govuk-table" data-module="moj-sortable-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header" aria-sort="ascending">Name</th>
        <th scope="col" class="govuk-table__header" aria-sort="none">Owners</th>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      {% for repository in repositories %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell"><a href="https://github.com/ministryofjustice/{{ repository["name"] }}" rel="noreferrer noopener" target="_blank" class="govuk-link">{{ repository["name"] }}</a></td>
          <td class="govuk-table__cell">{% for owner in repository["owners"] %} {{ owner }}{% if loop.nextitem %}, {% endif %} {% endfor %}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}
