{% extends "components/base.html" %}

{% block pageTitle %}
    Home
{% endblock %}

{% block content %}
<a href="/owner/{{owner}}" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-xl">{{ owner }} - GitHub Repositories Without Admin Access</h1>

  <section class="govuk-!-margin-bottom-6 govuk-inset-text">
    <h2 class="govuk-heading-m">Repositories Without Admin Access</h2>
    <p class="govuk-body">
    You lack admin access to <strong>{{ repositories | length }}</strong> repositories. For effective oversight, ensure you have appropriate permissions.
    </p>
  </section>

  <section>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Repository</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      {% for repository in  repositories %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="https://github.com/ministryofjustice/{{ repository["name"] }}" rel="noreferrer noopener" target="_blank" class="govuk-link">{{ repository["name"] }}</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>

{% endblock %}
