{% extends "components/base.html" %}

{% block pageTitle %}
    Home
{% endblock %}

{% block content %}
<a href="/owner/{{owner}}" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-xl">{{ owner }} - Full Report</h1>

  <section>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Repository</th>
          <th scope="col" class="govuk-table__header">Compliance Status</th>
          <th scope="col" class="govuk-table__header">Access Level</th>
                    
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      {% for repository in  repositories %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="https://github.com/ministryofjustice/{{ repository["name"] }}" rel="noreferrer noopener" target="_blank" class="govuk-link">{{ repository["name"] }}</a></td>
        <td class="govuk-table__cell">{{ repository["compliance_status"] }}</a></td>
        <td class="govuk-table__cell">
          {% for repository_owner in repository["owners"] %}
            {% if repository_owner["owner_name"] == owner %}
              {% if "ADMIN" in repository_owner["relationship_type"] %}
                Admin Access 
              {% else %}
                Other Access
              {% endif %}
            {% endif %}
          {% endfor %}
        </td>

      </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>

{% endblock %}
