{% extends "components/base.html" %}

{% block pageTitle %}
    Home
{% endblock %}

{% block content %}
<a href="/owner/{{owner}}" class="govuk-back-link">Back</a>

  <h1 class="govuk-heading-xl">{{ owner }} - Non Compliance Report</h1>

  <section class="govuk-!-margin-bottom-6 govuk-inset-text">
    <h2 class="govuk-heading-m">Non Compliant Repositories</h2>
    <p class="govuk-body">
      There are <strong>{{ repositories | length }}</strong> repositories that do not meet compliance standards.
      Regularly reviewing these can help maintain security and consistency across your repository estate.
    </p>
  </section>

  <section>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Repository</th>
          <th scope="col" class="govuk-table__header">Compliance Status</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
      {% for repository in  repositories %}
      <tr class="govuk-table__row">
        <td class="govuk-table__cell"><a href="https://github.com/ministryofjustice/{{ repository["name"] }}" rel="noreferrer noopener" target="_blank" class="govuk-link">{{ repository["name"] }}</a></td>
        <td class="govuk-table__cell">{{ repositories_compliance_map[repository.name] }}</td> 
        <td class="govuk-table__cell"><a href="https://operations-engineering-reports.cloud-platform.service.justice.gov.uk/public-report/{{ repository["name"] }}" rel="noreferrer noopener" target="_blank" class="govuk-link">View Compliace Report</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </section>

{% endblock %}
